html {
    font-family: 'Sriracha', cursive;
}

a {
    color: rgb(212, 151, 80);
    text-decoration: none;
}
a:hover {
    color: rgb(134, 134, 134);
}

/* side nav setup */
#fp-nav ul li a span {
    background: #FFF;
}

/* class */
.section {
    background-size: cover;
}

.border {
    box-sizing: border-box;
    margin: 0 5%;
    padding: 10% 0 5% 0;
    border: 3px solid #FFF;
}

.line {
    border-bottom: 3px solid #FFF;
    width: 40%;
    margin: 0 auto;
}

.link2rec {
    width: 20%;
    text-align: center;
    margin: 0 auto;
}

/* page one */
#one {
    background-image: linear-gradient(
             rgba(20,20,20, .7),
             rgba(20,20,20, .7)),
             url(../img/img1.jpg);
    color: #FFF;
    letter-spacing: 3px;
    width: 100%;
    text-align: center;
}

#one h1 {
    transform: translateY(-50%);
    position: relative;
    letter-spacing: 3px;
    font-size: 4em;
    font-weight: 100;
}
#one p {
    transform: translateY(-50%);
    position: relative;
    font-size: 2em;
}

/* page two */
#two {
    background-image: linear-gradient(
             rgba(20,20,20, .7),
             rgba(20,20,20, .7)),
             url(../img/img2.jpg);
    color: #FFF;
}

#two .main {
    margin-top: -5%;
}

#two h1 {
    text-align: center;
}

#two .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2% auto 0 auto;
}

#two .card-content {
    text-align: center;
    border: 2px solid white;
    flex: 0 1 20.5%;
    height: 425px;
}

#two .card-content img {
    height: 200px;
    width: 100%;
}

#two .card-content .content {
    padding: 0 8px;
}

/* page three */
#three {
    background-image: linear-gradient(
             rgba(20,20,20, .7),
             rgba(20,20,20, .7)),
             url(../img/img3.jpg);
    color: #FFF;
}

#three h1 {
    text-align: center;
}

#three .main {
    width: 80%;
    margin: 1% auto;
    height: 100px;
    border: 3px solid white;
}

#three .cardbox {
    display: flex;
    box-sizing: border-box;
}

#three .cardbox img {
    height: 100px;
    flex-grow: 4;
    margin-right: 2%;
}

#three .cardbox .content h3, #three .cardbox .content p {
    margin: 0;
}

#three .cardbox .content p {
    text-indent: 3em;
}

#three .cardbox .content {
    flex-grow: 6;
}

@media screen and (max-width: 915px) {
    #two .card-content {
        flex: 0 1 80%;
        margin-bottom: 5%;
        padding: 5px;
    }

    #two .card-content img {
        height: auto;
        max-height: 200px;
    }
}

/* mouse animation */
.scroll-downs {
    margin: auto;
    width :34px;
    height: 55px;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}
